.logo{
  width: 25%;
  margin-top: 0.5rem;
}

.menu li:hover{
  background: lightgray;
}

.icon{
  width: 50%;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}

.contenido{
  background: aliceblue;
}

.tur-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.art-img{
  margin: 20px;
  width: 50%;
}

.articulo{
  text-align: justify;
}

.perfil{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-top: 2rem;
}

@media (max-width:990px){
  .logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    margin-bottom: 0.5rem;
  }
}